* {
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 59px;
}

/* Navbar box */
#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
}

/* Logo */
#logo {
  margin: 2px 9px;
}

#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navbar ul li {
  list-style: none;
  font-size: 1.1rem;
}

#navbar ul li a {
  color: white;
  /* display: block; */
  padding: 20px 20px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
  padding: 3px 17px;
}
#home {
  display: flex;
  height: 590px;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  background: url("o.jpg");
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Caveat", cursive;
}

#home p {
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: "Cinzel", serif;
}
.h-primary {
  font-size: 2.9rem;
  padding: 12px;
  font-family: "Caveat", cursive;
}

.h-secondary {
  font-size: 2.1rem;
  padding: 12px;
  font-family: "Caveat", cursive;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: gray;
  color: white;
  margin: 17px;
  border-radius: 12px;
  cursor: pointer;
}

/* services */
#services {
  margin: 34px;
  display: flex;
  
}
#services .box {
  border: 2px solid brown;
  font-family: "Cinzel", serif;
  padding: 34px;
  margin: 25px 17px;
  border-radius: 30px;
  background-color: rgb(230, 215, 215);
}

#services .box img {
  height: 70px;
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

/* Client Section */
#client-section{
    height: 344px;
}

#client-section::before{
    content: "";
    position: absolute;
    background:url('l.jpg');
    width: 100%;
    height: 55%;
    z-index: -1;
    opacity: 0.6;
    background-size: cover;

}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-item{
    padding: 34px;
}

#clients img{
    height: 90px;
}

#Feedback-box input,
#Feedback-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  
}

#Feedback-box{
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;

}

#Feedback-box form{
  width: 40%;
 
   
}

#Feedback-box label{
  font-size: 1.3rem;
  font-family: "Caveat", cursive;
}

#feedback::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url('watch.jpg');
  background-size: cover;
  
}

#about::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background-image: url('fb.jpg');
  background-size: cover;
}

#about-us{
  
  padding: 20px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  color: white;

}

#feedback h1{
  font-family: "Caveat", cursive;
}

#About {
  margin: 34px;
  display: flex;
  
}
#About .box {
  color: white;
  font-family: "Cinzel", serif;
  width: 450px;
  padding: 34px; 
  margin: 25px 17px;
  border-radius: 30px;
 
}

#About .box h2{
  color: black;
}

.footer {
   position: fixed;
   padding: 6px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:black;
   color: white;
   text-align: center;
}

.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
 
}